{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title> 
  </head>
  <body>
    <div>
      <a href="{% url "homepage" %}"><h3 id="form-title" style='color:black'>HOMEPAGE</h3></a>
    </div>
    <div style="font-size: x-large; font:bold; text-align:center">
        Shop page
    </div>

    <div>
      <p style="font-size: large;">List of products</p>
      <div style="margin-left: 30px">
        {% for product in product_list %}
        <li>{{ product.id }} {{product.name}} - ${{product.price}}</li> <br />
        {% endfor %}
      </div>
    </div>
    <hr>
    <div>
      <p style="font-size: large;">Create product</p>
      <form enctype="multipart/form-data" method="POST" style="margin-left: 30px">
        {% csrf_token %}
        {{ create_form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
    <hr>

  </body>
</html>
