{% extends 'index.html' %} 
{% load static %} 


{% block title %} Shop {% endblock title %} 

{% block extra_head %}
<script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
{% endblock extra_head %}

{% block content %}

{% include "shop/shop_header.html" %}

<div>
  <p style="font-size:xx-large; color:black; text-align: center">List of products</p>
  <div style="margin-left: 30px">
    {% for product in product_list %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ product.get_absolute_url }}">{{ product.name }} - ${{ product.price }}</a>
        </h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Details</a>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>

<div class="pagination" style="margin: auto; padding: 5px;">
  <span class="step-links" style="width: 100%; text-align: center;">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

<hr />
<div style="margin-top: 30px; margin-bottom: 30px">
  <a href="{% url 'shop:product-create' %}" style="font-size: large"
    >Create new product</a
  >
</div>
<hr />

{% endblock content %}
