{% extends "index.html" %} 
{% load static %} 

{% block title %}Home{% endblock title %} 

{% block content %}
<div style="text-align: center; font-size: x-large">Homepage</div>

<div>
  <p>Authorization</p>
  <div style="margin-left: 30px">
    <a href="{% url 'login' %}">login</a>
    <br />
    <a href="{% url 'register' %}">register</a>
    <br />
    <a href="{% url 'logout' %}">logout</a>
  </div>
  <p>Permissions</p>
  <div style="margin-left: 30px">
    
    {% if user.is_staff %} 
    <a href="{% url 'staff-only' %}">staff-only</a>
    <br />
    {% else %}
    <p>Staff-only page is hidden, You do not have a permession.</p>
    {% endif %}
    <a href="{% url 'free-access' %}">free-access</a>
  </div>
  <p>Profile</p>
  <div style="margin-left: 30px">
    {% if request.user.is_authenticated %} 
    <a href="{% url 'profile' %}">Profile</a>
    {% else %}
    <p>You are not authenticated.</p>
    {% endif %}  
  </div>

  <hr>

  <p>Shop (products / orders / cart)</p>
  <div style="margin-left: 30px">
    {% if request.user.is_authenticated %} 
    <a href="{% url 'shop' %}">Shop</a>
    {% else %}
    <p>You are not authenticated.</p>
    {% endif %}  
  </div>

</div>
{% endblock content %}
